main {
  width: 100vw;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.box {
  width: 100px;
  height: 100px;
  background-color: skyblue;
}
